debug: False
environment: development
serial_port: "/dev/ttyTHS1"
servos: [[11, 12, 13], [21, 22, 23], [31, 32, 33], [41, 42, 43]]
nodes:
  robot:
    frequency: 50
  imu: 
    frequency: 5
  controller:
    frequency: 10
dimensions:
  robot_width: 142
  robot_length: 223
  coxa_length: 53
  femur_length: 102
  tibia_length: 114
positioning:
  angle_flip: [[-1, 1, 1], [-1, -1, -1], [-1, -1, -1], [-1, 1, 1]]
  angle_zero: [[0, 90, 30], [0, 90, 30], [0, 90, 30], [0, 90, 30]]
  offsets: [[0,0,0],[0,0,0],[0,0,0],[0,0,0]]
  forward_offsets: [-10,0,0]
  backward_offsets: [5,0,0]
  ready_height_pct: 0.65
leveling:
  yaw_threshold: 0.5
  pitch_threshold: 0.5
  auto_level: False
  tilt:
    pitch: 0
    yaw: 0
imu:
  bno_axis_remap: #
  offsets:
    magnetic: [32418, 32685, -32271]
    gyro: [0,-1,0]
    acceleration: [-40,42,-10]
gait_params:
  trot:
    stride: 55
    clearance: 65
    step_size: 15
    hip_sway: 6
  trot_reverse:
    stride: -30
    clearance: 40
    step_size: 12
    hip_sway: 6
  sidestep:
    stride: 30
    clearance: 30
    step_size: 12
  turn:
    stride: 20
    clearance: 40
    step_size: 12
    hip_sway: 6
  walk:
    stride: 50
    clearance: 60
    step_size: 10
    hip_sway: 6
  trot_in_place:
    stride: 0
    clearance: 40
    step_size: 25
    hip_sway: 0
sensors:
  camera:
    matrix: [
              848.72138, 0., 939.50914,
              0., 848.9676, 596.15355,
              0., 0., 1.
          ]
    distortion: [-0.296850, 0.061372, 0.002562, -0.002645, 0.000000]
    sensor_mode: MODE1640x1232X29

#    trot_params: Dict[str, int] = {"stride": 50, "clearance": 60}
#    trot_reverse_params: Dict[str, int] = {"stride": -30, "clearance": 40}
#    sidestep_params: Dict[str, int] = {"stride": 20, "clearance": 30}
#    turn_params: Dict[str, int] = {"stride": 20, "clearance": 40, "step_size": 12}
#    walk_params: Dict[str, int] = {"stride": 50, "clearance": 60}