<!DOCTYPE HTML>
<!--- https://github.com/bobboteck/JoyStick/blob/master/joy.html --->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vega</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/output.css')}}">
</head>
<body>
<div class="flex flex-row gap-2 pt-2">
    <div class="flex flex-col items-center w-1/2 p-2 rounded-md bg-black text-white">
        <img src="api/stream" class="aspect-video">
        <div class="grid grid-cols-3 gap-6 my-4" id="controlPanel">

        </div>
        <div class="flex flex-row gap-2 justify-between">
            <div>Heading:</div>
            <div id="displayHeading"></div>
            <div>Pitch:</div>
            <div id="displayPitch"></div>
            <div>Yaw:</div>
            <div id="displayYaw"></div>
            <div>Voltage:</div>
            <div id="displayVoltage"></div>
        </div>
    </div>
    <div class="flex flex-col p-4 text-xs border rounded-md">
        <div id="heightSlider" class="slider-vertical"></div>
        <div id="yawSlider" class="slider-vertical"></div>
        <div id="pitchSlider" class="slider-vertical"></div>
    </div>
    <div class="flex flex-col p-2 rounded-md gap-4 border rounded-md flex-grow">
        <div class="grid grid-cols-4 gap-4">
            <button class="button-blue bg-green-600 text-sm w-full" id="btnSit">Sit</button>
            <button class="button-blue bg-green-600 text-sm  w-full" id="btnCrouch">Crouch</button>
            <button class="button-blue bg-green-600 text-sm  w-full" id="btnReady">Ready</button>
            <button class="button-blue bg-green-600 text-sm  w-full" id="btnDemo">Demo</button>
        </div>
        <hr>
        <!--- Position --->
        <div class="w-full">
            <h1 class="section-header">Position</h1>
            <div class="data-grid-4 font-bold">
                <div></div>
                <div>X</div>
                <div>Y</div>
                <div>Z</div>
            </div>
            <div class="data-grid-4" id="positions">
            </div>
        </div>
        <div class="w-full">
            <h1 class="section-header">Offsets</h1>
            <div class="data-grid-4 font-bold">
                <div></div>
                <div>X</div>
                <div>Y</div>
                <div>Z</div>
            </div>
            <div class="data-grid-4" id="offsets">
            </div>
        </div>
        <div class="w-full">
            <h1 class="section-header">Angles</h1>
            <div class="data-grid-4 font-bold">
                <div></div>
                <div>Coxa</div>
                <div>Femur</div>
                <div>Tibia</div>
            </div>
            <div class="data-grid-4" id="angles">
            </div>
        </div>
        <hr>
        <div class="flex flex-row w-full justify-around">
            <button class="button-blue text-sm" id="btnMode">Mode: Trot</button>
            <button class="button-blue text-sm" id="btnLevel">Auto Level</button>
        </div>
    </div>
</div>
<script type="javascript">
    getStats();
</script>
</body>
</html>
<script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/slider.js')}}"></script>
<script src="{{url_for('static', filename='js/control.js')}}"></script>
<script src="{{url_for('static', filename='js/vega.js')}}"></script>