<!DOCTYPE HTML>
<!--- https://github.com/bobboteck/JoyStick/blob/master/joy.html --->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vega</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/output.css')}}">
</head>
<body>
	<div class="flex flex-col items-center">
		<div class="flex flex-row w-full gap-2">
			<div class="flex flex-col w-1/4 gap-2">
				<div class="grid grid-cols-2 grid-flow-row gap-4 h-full">
					<button class="button-blue col-span-2">Forward</button>
					<button class="button-blue">Left</button>
					<button class="button-blue">Right</button>
					<button class="button-blue col-span-2">Backward</button>
				</div>
			</div>
			<img src="api/stream" class="aspect-video w-1/2">
			<div class="flex flex-col w-1/4">

			</div>
		</div>
		<div class="flex flex-row justify-around gap-32">

			<div id="joy1Div" style="width:200px;height:200px;"></div>
			<div id="joy2Div" style="width:200px;height:200px;"></div>
		</div>
	</div>
</body>
</html>
<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/joy.min.js')}}"></script>
<script src="{{url_for('static', filename='js/api.js')}}"></script>